<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Spiny
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="message" *ngIf="message!==''">
    {{this.message}}
  </div>


  <div class="wheel">
    <div class="container">
      <div *ngFor="let option of options; let i = index" [ngClass]="'span' + (i + 1)">
        <div class="text-styling">{{ option }}</div>
      </div>
    </div>
    <div class="stopper" style="margin-bottom: 3.8rem"></div>
    <button class="spin2" (click)="spinWheel()">Spin</button>
  </div>


</ion-content>

