<body>
<div class="container">
  <div class="span1"> <div class="text-styling"> Read </div></div>
  <div class="span2"><div class="text-styling"> Walk </div></div>
  <div class="span3"><div class="text-styling"> Swimming </div></div>
  <div class="span4"><div class="text-styling"> Movies </div></div>
  <div class="span5"><div class="text-styling"> Bar </div></div>
  <div class="span6"><div class="text-styling"> Restaurant </div></div>
  <div class="span7"><div class="text-styling"> Cooking </div></div>
  <div class="span8"><div class="text-styling"> Ice Cream </div></div>
  <div class="span9"><div class="text-styling"> Shopping </div></div>
  <div class="span10"><div class="text-styling"> Boardgames </div></div>
  <div class="span11"><div class="text-styling"> Museum </div></div>
  <div class="span12"><div class="text-styling"> 12 </div></div>
</div>
<span class="mid"></span>
<button id="spin">Spin</button>
<div class="stopper"></div>
</body>
