*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 100vh;
  background: #000000;
}
.container{
  height: 350px;
  width: 350px;
  background: #000000;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px gray;
  transition: 2s all;
}
.container div{
  height: 51%;
  width: 200px;
  clip-path: polygon(60% 0,50% 100%, 0 0);
  transform: translateX(-50%);
  transform-origin: bottom;
  position: absolute;
  left: 21%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container div.text-styling {
  font-size: 15px;
  font-family: monospace;
  font-weight: 1000;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%)rotate(-15deg);
  writing-mode: vertical-lr; /* Added writing-mode property to set vertical text flow */

}

.container .span1{
  background: #ffd2ea;
  transform: rotate(0deg);
}

.container .span2{
  background: #ffc2df;
  transform: rotate(30deg);
}

.container .span3{
  background: #ffa4d4;
  transform: rotate(60deg);
}

.container .span4{
  background: #ffcc99;
  transform: rotate(90deg);
}

.container .span5{
  background: #ffe98a;
  transform: rotate(120deg);
}

.container .span6{
  background: #79e8b3;
  transform: rotate(150deg);
}

.container .span7{
  background: #b3ffc7;
  transform: rotate(180deg);
}

.container .span8{
  background: #bbefff;
  transform: rotate(210deg);
}

.container .span9{
  background: #99e2ff;
  transform: rotate(240deg);
}

.container .span10{
  background: #80b1ff;
  transform: rotate(270deg);
}

.container .span11{
  background: #cbc5ff;
  transform: rotate(300deg);
}

.container .span12 {
  background: #a4a4f4;
  transform: rotate(325deg);
}

#spin{
  height: 60px;
  width: 200px;
  background: #e0c4ff;
  position: absolute;
  margin-top: 600px;
  font-size: 30px;
  border-radius: 25px;
  color: white;
  font-weight: 1000;
  letter-spacing: 4px;
  border: 1px solid white;
  cursor: pointer;
  box-shadow: 0 5px 10px gray;
  transition: 0.2s all;
}

#spin:hover{
  box-shadow: none;
}

.stopper {
  height: 50px;
  width: 40px;
  background: #fff5f5;
  position: absolute;
  clip-path: polygon(100% 0, 50% 100%, 0 0);
  margin-top: -350px;
  border: 1px solid #000000; /* Added black border */
}


